body {
    background-color: #0e0e0e;
    font-family: 'Roboto Flex', sans-serif;
    font-size: 15px;
    margin: 0;
}

h1 {
    color: #f9faf8;
    font-size: 40px;
    font-weight: 800;
    margin: 0 0 20px;
}

h2 {
    color: #1f2937;
    font-size: 28px;
    font-weight: 800;
    margin: 0 0 40px;
    text-align: center;
}

a {
    color: #e5e7eb;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

p {
    margin: 0 0 20px;
}

img {
    display: block;
    max-width: 100%;
}

blockquote {
    color: #1f2937;
    font-size: 28px;
    font-style: italic;
    font-weight: 300;
}

.container {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
    min-height: 100vh;
}

.header,
.hero,
.footer {
    background-color: #1f2937;
}

.header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding-bottom: 15px;
    padding: 15px 175px;
}

.logo {
    color: #f9faf8;
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
}

.logo:hover {
    text-decoration: none;
}

.navigation {
    display: flex;
    list-style: none;
    gap: 20px;
    margin: 0;
    padding: 0;
}

.body {
    flex: 1;
}

.body a {
    text-decoration: underline;
}

.hero {
    display: flex;
    gap: 50px;
    padding: 90px 175px;
}

.hero > div {
    color: #e5e7eb;
    width: 50%;
}

.btn {
    background-color: #3882f6;
    border: 0;
    border-radius: 5px;
    color: #fff;
    padding: 5px 20px;
}

.info {
    margin: 40px auto 95px;
    max-width: 690px;
}

.cards {
    display: flex;
    gap: 40px;
}

.card {
    text-align: center;
}

.card--img {
    border: 3px solid #3882f6;
    border-radius: 5px;
    direction: rtl;
    height: 150px;
    overflow: hidden;
    margin-bottom: 10px;
    width: 150px;
}

.card img {
    height: 150px;
    max-width: none;
    width: auto;
}

.quote {
    background-color: #e5e7eb;
    padding: 90px 70px;
}

.quote--inner {
    margin: 0 auto;
    max-width: 670px;
}

.quote--inner > p {
    font-size: 20px;
    font-weight: 700;
    margin: 0 50px 0 0;
    text-align: right;
}

.footer {
    color: #e5e7eb;
    padding: 30px;
    text-align: center;
}